.container {
  display: flex;

}
#section1 {

}

#section2 {

}

.container3, .author {
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

#section4 {
}
div.nav-links {
  justify-content: flex-end;
}
.hero, .footer {
  background-color: #1f2937;
  text-align: center;
}